

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-row">
    <div class="w3-one">
      <div class="w3-display-topmiddle w3-text-white w3-center ">
        <h1 class="loca">Brenda & Raul</h1>
        <h2>Nos casamos..</h2>
        <h2><b>04.11.2017</b></h2>
      </div>
    </div>
  </div>
</header>
<div class="w3-wide  w3-pale-red ">
  <br>
  <img class="w3-round-large " src= ' <%= asset_path 'separador5.png' %>' style="width:100%">
</div>
<!-- About / Brenda & raul -->
<div class="w3-container w3-padding-64 w3-pale-red " id="us">
  <div class="w3-row">
    <div class="w3-one">
      <h1 class="loca  w3-center w3-text-grey ">Nuestra Historia </h1>
    </div>
  </div>

    <br><br>
    <div class="w3-row">
      <div class="w3-half">
        <div class="video-container">
          <script src="https://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="https://snapwidget.com/embed/375367" class="snapwidget-widget w3-round-large" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:900px; height:700px"></iframe>
        </div>
      </div>
      <div class="w3-half w3-panel w3-border w3-round-xxlarge">
        <div class="w3-left historia">
          " Aunque yo hablara todas las lenguas de los hombres y de los ángeles, si no tengo amor, soy como una campana que resuena o un platillo que retiñe.
            Aunque tuviera el don de la profecía y conociera todos los misterios y toda la ciencia, aunque tuviera toda la fe, una fe capaz de trasladar montañas, si no tengo amor, no soy nada.
            Aunque repartiera todos mis bienes para alimentar a los pobres y entregara mi cuerpo a las llamas, si no tengo amor, no me sirve para nada.</br>
            El amor es paciente, es servicial; el amor no es envidioso, no hace alarde, no se envanece,
            no procede con bajeza, no busca su propio interés, no se irrita, no tiene en cuenta el mal recibido,
            no se alegra de la injusticia, sino que se regocija con la verdad.
            El amor todo lo disculpa, todo lo cree, todo lo espera, todo lo soporta.</br>
            El amor no pasará jamás. Las profecías acabarán, el don de lenguas terminará, la ciencia desaparecerá."</br>

            "Si no tengo amor, no soy nada." Carta de San Pablo a los Corintios 13:1
        </div><br>
      </p><br>
      </div>
    </div>

  </div>
  </div>

<!-- Background photo -->
<div class="w3-display-container bgimg2">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">Estas invitado..! </h1><br>
    <h2>Por supuesto..</h2>
    <div class="video-container">
      <iframe  class="w3-round-large"width="1200" height="450" src="https://www.youtube.com/embed/vg7xL7TZyKI?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="w3-container  w3-pale-red  w3-center">
  <img class="w3-round-large " src= ' <%= asset_path 'img1.JPG' %>' style="width:100%;margin:64px 0">
</div>
<!-- Wedding information -->
<div class="w3-container  w3-pale-red  w3-center" id="wedding">
  <div class="w3-content">
    <img class="w3-round-large " src= ' <%= asset_path 'anillos.png' %>' style="width:25%"><br>
    <h1 class="w3-text-grey"><b>La Boda</b></h1>
    <div class="w3-row">
      <!-- Misa -->
      <div class="w3-third">
        <b>
          <img class="w3-round-large " src= ' <%= asset_path 'piniglesia.png' %>' style="width:15%">
          <h2>MISA</h2>
          <p>Ceremonia Religiosa- 5:00pm</p>
          <p>Parroquia de la Sagrada Familia - Col. Hidalgo</p>
          <p>Recepcion y Cena - 8:00pm</p>
       </b>
       <p class="w3-xlarge">
         <button onclick="document.getElementById('id03').style.display='block'" class="w3-button w3-round w3-blue w3-opacity w3-hover-opacity-off " style="padding:8px 60px">Como llegar?</button>
       </p>
      </div>
        <!-- Civil -->
        <div class="w3-third">
          <b>
            <img class="w3-round-large " src= ' <%= asset_path 'civil.png' %>' style="width:15%">
            <h2>ENLACE CIVIL</h2>
            <p>Boda Civil- 7:00pm </br> Jardin Versalles</p>
         </b>
        </div>
        <!-- Recepcion -->
        <div class="w3-third">
          <img class="w3-round-large " src= ' <%= asset_path 'bar.png' %>' style="width:10%">
          <h2>RECEPCION</h2>
          <b>
            <p>Jardin Vesalles </br> Calle uruguay #51 Cuahutemoc sur</p>
            <p>Recepcion y Cena - 8:00pm</p>
          </b>
          <p class="w3-xlarge">
            <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-center w3-round w3-blue w3-opacity w3-hover-opacity-off" style="padding:8px 60px">Como llegar?</button>
          </p>
        </div>
    </div>

    <!-- Como llegar Iglesia Jardin -->
      <div class="w3-container  w3-pale-red w3-center w3-wide" id="r">
        <div class="w3-row">
          <div class="w3-one">
              <button onclick="document.getElementById('id04').style.display='block'" class="w3-button w3-round w3-green w3-opacity w3-hover-opacity-off " style="padding:8px 60px">Como llegar Iglesia-Jardin</button><br>
              <img class="w3-round-large " src= ' <%= asset_path 'maps.png' %>' style="width:10%">
          
          </div>
        </div>
      </div>
    <!-- end -->


  </div>
  <img class="w3-round-large " src= ' <%= asset_path 'img2.JPG' %>' style="width:100%;margin:64px 0">
</div>
  <!-- RSVP section -->
  <div class="w3-container  w3-pale-red w3-center w3-wide" id="rsvp">
    <img class="w3-round-large " src= ' <%= asset_path 'rsvp.png' %>' style="width:10%"><br>
    <h1>ESPERAMOS CONTAR CON TU PRESENCIA!</h1>
    <p class="w3-large">Porfavor confirmanos tu asisentica antes de: 15 de octubre 2017</p>
    <p class="w3-xlarge">
      <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-green w3-opacity w3-hover-opacity-off" style="padding:8px 60px">RSVP</button>
    </p>
    <img class="w3-round-large " src= ' <%= asset_path 'img6.JPG' %>' style="width:100%;margin:64px 0">
  </div>
  <!-- MESA regalos -->
  <div class="w3-container w3-padding-12 w3-pale-red w3-center " id="mesa">
    <img class="w3-round-large " src= ' <%= asset_path 'regalo.png' %>' style="width:10%"><br>
    <h1 class="w3-wide">MESA DE REGALOS</h1>
    <p class="w3-large w3-wide">Aqui puedes encontrar los sitios web de nuestra Mesa de Regalos</p>
    <div class="w3-row">
      <div class="one">
          <button onclick="document.getElementById('id05').style.display='block'" class="w3-button w3-round w3-purple w3-opacity w3-hover-opacity-off" style="padding:8px 60px">SITIOS MESA DE REGALOS</button>
      </div>
    </div>
    <img class="w3-round-large " src= ' <%= asset_path 'img3.JPG' %>' style="width:100%;margin:64px 0">
  </div>
  <!-- END MESA regalos -->

  <!-- INSTAGRAM -->
  <div class="w3-container w3-padding-12 w3-pale-red w3-center w3-wide" id="mesa">
    <img class="w3-round-large " src= ' <%= asset_path 'insta.png' %>' style="width:10%"><br>
    <div class="w3-row">
      <div class="w3-one">
        <h1 class="insta">Comparte tus fotos del gran dia con nosotros</h1>
        <p class="w3-large">Puedes usar el  <img class="w3-round" src= ' <%= asset_path 'hashtag.png' %>' style="width:3%">Hashtag
          <p class="w3-text-blue insta ">#ByR041117</p> para compartir tus fotos
      </div>
    </div>
    </p>
    <div class="w3-row">
      <div class="w3-half">
        <img class="w3-round-large " src= ' <%= asset_path 'img4.JPG' %>' style="width:50%;margin:64px 0">
      </div>
      <div class="w3-half">
        <img class="w3-round-large " src= ' <%= asset_path 'img5.JPG' %>' style="width:50%;margin:64px 0">
      </div>
    </div>
  </div>
  <!-- END INSTAGRAM -->

  <!-- SPOTiFY-->
  <div class="w3-container w3-padding-12 w3-pale-red w3-wide " id="spot">
    <div class="w3-center">
      <img class="w3-round-large w3-center" src= ' <%= asset_path 'spotify.png' %>' style="width:10%"><br>
    </div>
    <h1 class="insta w3-center">Lista de reproduccion Spotify</h1>
    <div class="w3-row">
      <div class="w3-half w3-center">
        <h4>
          Quieres escuchar nuesto play list!! da click aqui para ponerte al dia<br>
        </h4>
        <img class="w3-round-large " src= ' <%= asset_path 'spo1.png' %>' style="width:20%"><br>
        <iframe class="w3-center"src="https://embed.spotify.com/?uri=spotify%3Auser%3Aga3o%3Aplaylist%3A3YBta2heAai5qP62mzoM9L" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <br>
      <div class="w3-half ">
        <h2 class="w3-center">
          Canciones agregadas:
        </h2>
        <div class=" w3-right">
          <% if @songs.nil? || @songs.empty? %>
            <h2 class="w3-text-red w3-center"> NO hay canciones registradas se el primero en Agregar!!</h2>
            <% else %>
            <table class="w3-right">
              <tr>
                <th class="w3-left">Titulo</th>
              </tr class="w3-left">
              <% @songs.each do |song| %>
              <tr>
                <td><img class="w3-round-large " src= ' <%= asset_path 'play.png' %>' style="width:5%"> -<span class="badge"><%= song.titulo %></span></td>
              </tr>
              <% end %>
            </table>
          <% end %>
        </div>
        <p>Aqui puedes agregar tu cancion favorita</p>
        <p class="w3-xlarge">
          <button onclick="document.getElementById('id13').style.display='block'" class="w3-button w3-round w3-green w3-opacity w3-hover-opacity-off" style="padding:8px 60px">Agregar cancion</button>
        </p>
      </div>
    </div>
  </div>
  <!-- END SPOTify -->

  <!-- SOTiFY modal -->
  <div id="id13" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
      <div class="w3-container w3-white w3-center">
        <img class="w3-round-large " src= ' <%= asset_path 'music.png' %>' style="width:25%">
        <h3 >Escribe tu cancion favorita</h3>
        <%= render 'songs/form'%>
      </div>
    </div>
  </div>
  <!-- END SPOTiFY modal -->

  <!-- CANCION modal CONFIRMADA -->
  <div id="id14" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
      <div class="w3-container w3-white w3-center">
        <img class="w3-round-large " src= ' <%= asset_path 'check.png' %>' style="width:50%">
        <h2><b>CANCION AGREGADA CON EXITO</b></h2>
        <h2>GRACIAS !!</h2>
        <div class="w3-row">
          <div class="w3-one">
            <button onclick="document.getElementById('id13').style.display='none';document.getElementById('id14').style.display='none'" type="button" class="w3-button w3-xlarge w3-round-xlarge w3-block w3-green">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END RSVP modal CONFIRMADA -->





  <!-- RSVP modal -->
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
      <div class="w3-container w3-white w3-center">
        <img class="w3-round-large " src= ' <%= asset_path 'rsvp.png' %>' style="width:10%">
        <h1 >NOS PODRAS ACOMPANAR?</h1>
        <p>Nos encantaria que nos acompanaras ese dia tan especial.</p>
        <form>
          <input class="w3-input w3-border" id="formInput" type="text" placeholder="Nombre o Familia" name="name" autofocus required>
        </form>


        <p><i>Sinceramente: Brenda & Raul</i></p>
        <div class="w3-row">
          <div class="w3-half">
            <button onclick="document.getElementById('id11').style.display='block'" type="button" class="w3-button w3-xlarge w3-round-xlarge w3-block w3-green">Si, claro!! :) </button>
          </div>
          <div class="w3-half">
            <button onclick="document.getElementById('id12').style.display='block'" type="button" class="w3-button w3-xlarge w3-round-xlarge w3-block w3-red">No, podre :( </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END RSVP modal -->

  <!-- RSVP modal CONFIRMADA -->
  <div id="id11" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
      <div class="w3-container w3-white w3-center">
        <img class="w3-round-large " src= ' <%= asset_path 'check.png' %>' style="width:50%">
        <h1><b>RESERVACION CONFIRMADA</b></h1>
        <h2>GRACIAS !!</h2>
        <h4>
          Comunicate con nosotros lo antes posible para corroborar tus datos:</p>
        </h4>
          <img class="w3-round-large " src= ' <%= asset_path 'phone.png' %>' style="width:3%">
          <b>
          686 203 3395 Raul - 686 135 6137- Brenda
        </b>
         </br>
        <p><i>Sinceramente: Brenda & Raul</i></p>
        <div class="w3-row">
          <div class="w3-one">
            <button onclick="document.getElementById('id11').style.display='none';document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-xlarge w3-round-xlarge w3-block w3-green">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END RSVP modal CONFIRMADA -->

<!-- RSVP modal RECHAZADA -->
<div id="id12" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <img class="w3-round-large " src= ' <%= asset_path 'sad.png' %>' style="width:50%">
      <h1 class="w3-text-red"><b>RESERVACION RECHAZADA</b></h1>
      <h2>Tienes alguna duda o problema?</h2>
      <h4>
        Comunicate con nosotros lo antes posible para solucionarlo </p>
      </h4>
        <img class="w3-round-large " src= ' <%= asset_path 'phone.png' %>' style="width:3%">
        <b>
        686 203 3395 Raul - 686 135 6137- Brenda
      </b>
       </br>
      <p><i>Sinceramente: Brenda & Raul</i></p>
      <div class="w3-row">
        <div class="w3-one">
          <button onclick="document.getElementById('id12').style.display='none';document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-xlarge w3-round-xlarge w3-block w3-green">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END RSVP modal RECHAZADA -->

<!-- como llegar JARDIN modal -->
<div id="id02" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:1000px">
    <div class="w3-container w3-white w3-center">
      <h3 class="w3-wide">Direcciones para: <b>Jardin Versalles</b></h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3359.021188963022!2d-115.45338574887028!3d32.658880280914566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d770153f68059d%3A0x7ca7bf6867e4b5ba!2sJardin+Versalles!5e0!3m2!1ses-419!2smx!4v1506033270004" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      <p>
        <img class="w3-round-large " src= ' <%= asset_path 'location.png' %>' style="width:3%">
        <b>
          Av. República de Uruguay 51, Cuauhtémoc Sur, 21200 Mexicali, B.C.</br>
        </b>
        <img class="w3-round-large " src= ' <%= asset_path 'phone.png' %>' style="width:3%">
         686 568 2211 </br>
        <i>Sinceramente: Brenda & Raul</i>
      </p>
      <div class="w3-row">
        <div class="w3-half">
          <button onclick="document.getElementById('id02').style.display='none'" type="button" class="w3-round w3-button w3-xlarge w3-block w3-green">Listo, se como llegar!! </button>
        </div>
        <div class="w3-half">
          <button onclick="document.getElementById('id02').style.display='none'" type="button" class="w3-round w3-button w3-block w3-xlarge w3-red">Cerrar </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end -->

<!-- como llegar JARDIN modal -->
<div id="id03" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:1000px">
    <div class="w3-container w3-white w3-center">
      <h3 class="w3-wide">Direcciones para: <b>Parroquia Sagrada Familia</b></h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3360.8096233379515!2d-115.44743824887135!3d32.611256580929215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d770c6ca03ff31%3A0xebc0cd62e88d39b8!2sParroquia+De+La+Sagrada+Familia!5e0!3m2!1ses-419!2smx!4v1506033538995" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      <p>
        <img class="w3-round-large " src= ' <%= asset_path 'location.png' %>' style="width:3%">
        <b>
          Calle 56 2020, Hidalgo, 21389 Mexicali, B.C.</br>
        </b>
        <img class="w3-round-large " src= ' <%= asset_path 'phone.png' %>' style="width:3%">
         686 561 6029 </br>
        <i>Sinceramente: Brenda & Raul</i>
      </p>
      <div class="w3-row">
        <div class="w3-half">
          <button onclick="document.getElementById('id03').style.display='none'" type="button" class="w3-button w3 round w3-block w3-xlarge w3-green">Listo, se como llegar!! </button>
        </div>
        <div class="w3-half">
          <button onclick="document.getElementById('id03').style.display='none'" type="button" class="w3-button w3-round w3-block w3-xlarge w3-red">Cerrar </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end -->

<!-- como llegar IGLESIA-JARDIN modal -->
<div id="id04" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:3000px">
    <div class="w3-container w3-white w3-center">
      <h3 class="w3-wide"> MAPA & INDICACIONES </b></h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d26879.32593158758!2d-115.47335964065147!3d32.635067228989115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x80d770c6ca03ff31%3A0xebc0cd62e88d39b8!2sParroquia+De+La+Sagrada+Familia%2C+colonia+b+c%2C+Calle+56+2020%2C+Hidalgo%2C+21389+Hidalgo%2C+B.C.!3m2!1d32.6112566!2d-115.44524419999999!4m5!1s0x80d770153f68059d%3A0x7ca7bf6867e4b5ba!2sJardin+Versalles%2C+Avenida+Rep%C3%BAblica+de+Uruguay%2C+Cuauht%C3%A9moc+Sur%2C+Mexicali%2C+B.C.!3m2!1d32.6588803!2d-115.4511917!5e0!3m2!1ses-419!2smx!4v1493655425571" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        <p>
          <h4>Si tienes algun problema Comunicate con:</h4>
          <b>
            Raul:
            <img class="w3-round-large " src= ' <%= asset_path 'phone.png' %>' style="width:3%">
            686 203 3395
          </b>
          <b>Brenda:</b>
          <img class="w3-round-large " src= ' <%= asset_path 'phone.png' %>' style="width:3%">
          <b>
            686 135 6137
          </b>
        </p>
        <div class="w3-row">
          <div class="w3-half">
            <button onclick="document.getElementById('id04').style.display='none'" type="button" class="w3-button w3-round w3-block w3-xlarge w3-green">Listo, se como llegar!! </button>
          </div>
          <div class="w3-half">
            <button onclick="document.getElementById('id04').style.display='none'" type="button" class="w3-button w3-round w3-block w3-xlarge w3-red">Cerrar </button>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- end -->


<!-- MESA REGALOS modal -->
<div id="id05" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <img class="w3-round-large " src= ' <%= asset_path 'regalo.png' %>' style="width:20%">
      <h3>Mesa de regalos</h3>
      <p>Puedes dar click en el logo de la tienda que mas guestes:</p>
      <div class="w3-row">
        <div class="w3-third">
          <p ><b># Evento 42129680</b></p>
          <a href="https://www.liverpool.com.mx/tienda/giftregistry/giftRegistry.jsp" target="_blank" >
            <img class="w3-round-large " src= ' <%= asset_path 'liver2.png' %>' style="width:100%">
          </a>
        </div>
        <div class="w3-third">
          <a href="https://www.target.com/gift-registry/" target="_blank" >
            <img class="w3-round-large " src= ' <%= asset_path 'target.png' %>' style="width:80%">
          </a>
        </div>
        <div class="w3-third">
          <img class="w3-round-large " src= ' <%= asset_path 'walm.png' %>' style="width:90%">
        </div>
      </div>
      <p> <b>De antemano muchas gracias</b> </br> <i>Sinceramente: Brenda & Raul</i></p>
      <div class="w3-row">
        <div class="w3-one">
          <button onclick="document.getElementById('id05').style.display='none'" type="button" class="w3-button w3-xlarge w3-block w3-red">Cerrar </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end -->

<!-- Google map script -->
<script>
function myMap()
{
  myCenter=new google.maps.LatLng(32.6588803,-115.4513339);
  var mapOptions= {
    center:myCenter,
    zoom:16, scrollwheel: false, draggable: true,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWavkAJEWPBMOys2-RYKOGDPtBj1EhOJc&callback=myMap"></script>

<!-- slidshow javascript -->
