
<!DOCTYPE html>
<html>
<title> _-B & R-_ </title>
<%= favicon_link_tag 'favicon.ico' %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
img{
  max-width: 100%

}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.loca {
  font-family: 'Great Vibes', cursive;
  font-size: 140px;
}
@media(max-width: 1580px) {
  .loca {
    font-size: 60px;
    word-wrap: break-word;
  }
  .loca2 {
    font-size: 1.9em; /* Fine tune unbehaved elements */
    word-wrap: break-word;
  }
}
@media(max-width: 980px) {
  html {
    font-size: 16px;
  }
}
.loca2 {
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
}
.historia {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;

}
.insta {
  font-family: 'Dancing Script', cursive;
  font-size: 75px;

}

@media(max-width: 1580px) {
  .loca {
    font-size: 60px;
    word-wrap: break-word;
    }
  } 

p {line-height: 2}
.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg {background-image:  url(<%= asset_path 'banner.jpg' %>)}
.bgimg2 {background-image: url("http://i1378.photobucket.com/albums/ah93/ingraulreyes/mesa_zpsf1egkloy.png")}
.bgimg3 {background-image: url("http://www.nosotras.com/wp-content/uploads/2014/11/49a5f8ba8460ed04f146727ebdffe9b8.jpg")}
</style>
<body>
  <!-- Navbar (sticky bottom) -->
  <div class="w3-bottom w3-xlarge w3-hide-small">
    <div class="w3-bar w3-dark-grey w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
      <a href="/" style="width:20%" class="w3-bar-item w3-button w3-hover-black">Inicio</a>
      <a href="#us" style="width:20%" class="w3-bar-item w3-button w3-hover-black">Brenda & Raul</a>
      <a href="#wedding" style="width:20%" class="w3-bar-item w3-button w3-hover-black">Boda</a>
      <a href="#rsvp" style="width:20%" class="w3-bar-item w3-button w3-hover-black">Confirma tu reservacion</a>
      <a href="#mesa" style="width:20%" class="w3-bar-item w3-button w3-hover-black">Mesa de Regalos</a>

    </div>
  </div>
    <%= yield %>
  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-16">
    <p>
      by: <a href="https://www.facebook.com/ing.raulreyes" title="Raul" target="_blank" class="w3-hover-text-blue">@Raul Reyes</a>
    </p>
  </footer>
  <div class="w3-hide-small" style="margin-bottom:32px"> </div>
<script type="text/javascript">
    var rev = "fwd";
    function titlebar(val){
        var msg  = "4.11.2017 - B & R";
        var res = " ";
        var speed = 200;
        var pos = val;
        msg = "   _- "+msg+" -_";
        var le = msg.length;
        if(rev == "fwd"){
            if(pos < le){
                pos = pos+1;
                scroll = msg.substr(0,pos);
                document.title = scroll;
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
            else {
                rev = "bwd";
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
        }
        else {
            if(pos > 0) {
                pos = pos-1;
                var ale = le-pos;
                scrol = msg.substr(ale,le);
                document.title = scrol;
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
            else {
                rev = "fwd";
                timer = window.setTimeout("titlebar("+pos+")",speed);
            }
        }
    }
    titlebar(0);
</script>
</body>
</html>
